<div class="s">
    <div class="task-card">
        <div class="task-content">
            <h1>{{ task.title }}</h1>
            <p class="lead"> {{ task.body }}</p>
            <p>Beosztottak:</p>

            {% for user in task.users %}
                {{ user.name }},
            {%- endfor %}


            <form class="form-horizontal" role="form" method="POST" action="/complete-task">
                {{ csrfField }}
                {{ form.hidden('id', task.id ) }}
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-btn fa-user"></i> Elvégzés
                        </button>
                    </div>
                </div>
            </form>
            <div>

                <a href="/edit-task/{{ task.id }}">Edit gomb </a>
                <br>

                <form class="form-horizontal" role="form" method="POST" action="/delete-task">
                    {{ csrfField }}
                    {{ form.hidden('id', task.id ) }}
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-btn fa-user"></i> DELEET THIS
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>