{% set lastName = task.users | last %}
<h2>
    {% for user in task.users %}
        {{ user.name }}
        {% if user.name != lastName.name %}
            ,
        {% endif %}
    {% endfor %}
</h2>

<p class="task-body">{{ task.body }}</p>

<div class="task-actions">
    <form class="form-horizontal" role="form" method="POST" action="/complete-task">
        {{ csrfField }}
        {{ form.hidden('id', task.id ) }}
        <button type="submit" class="btn btn-xs btn-success">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;
        </button>
    </form>

    <button type="submit" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-pencil"
              onclick="window.location.replace('/edit-task/{{ task.id }}');">
        </span>
    </button>

    <form class="form-horizontal" role="form" method="POST" action="/delete-task">
        {{ csrfField }}
        {{ form.hidden('id', task.id ) }}
        <button type="submit" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </button>
    </form>
</div>