<div class="s">
    <div class="todo-card">
        <div class="card-content">
            <h1>{{ card.title }}</h1>
            <p class="lead"> {{ card.body }}</p>
            <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
        </div>
    </div>
</div>