<div class="s">
    <div class="todo-card">
        <div class="card-content">
            <h1>{{ card.title }}</h1>
            <p class="lead"> {{ card.body }}</p>
            {#<a class="btn btn-lg btn-success" href="#" role="button">Elvégzés</a>#}
            <p>Beosztottak:</p>


            <form class="form-horizontal" role="form" method="POST" action="/todo-done">
                {{ csrfField }}

                {{ form.hidden('id', card.id ) }}

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-btn fa-user"></i> Elvégzés
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>