{% extends 'master' %}

{% block content %}

   {% include 'components.navbar' %}

    <div class="container lg-margin-top">
        <div>
            <h1>Todo lista</h1>
            <a class="btn btn-default" href="/createCard" role="button">Új tennivaló</a>
        </div>

        {% include 'components.todoCard' %}
    </div>

{% endblock %}