.lg-margin-top {
    margin-top: 50px;
}

.full-width {
    width: 100%;
}

.todo-card {
    width: 100%;
    background: lightgrey;
    display: flex;
    padding: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content a {
    align-self: flex-end;
}