{% extends 'master' %}

{% block content %}

    <div class="container-fluid lg-margin-top">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Új teendő</div>
                <div class="panel-body">
                    <div class="bg-danger text-white text-xs-center m-1 p-1">
                        {% for error in old('errors') %}
                            <li> {{ error.message }} </li>
                        {% endfor %}
                    </div>
                    {{ form.open({action: 'TaskController.store', method: 'POST', class: 'form-horizontal'}) }}

                    {{ csrfField }}

                    <div class="form-group">
                        {{ form.hidden('id') }}
                    </div>

                    <div class="form-group">
                        {{ form.label('body', 'Leírás:',{ class:'col-md-4 control-label'}) }}
                        <div class="col-md-6">
                            {{ form.textarea('body', '',{ class:'form-control'}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.label('names[]', 'Beosztottak:',{ class:'col-md-4 control-label'}) }}
                        <div class="col-md-6">
                            {{ form.select('names[]',users, null, null,{multiple: true, class:'form-control'}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            {{ form.button('Elküld', 'submit', { class:'btn btn-primary'}) }}
                        </div>
                    </div>


                    {{ form.close() }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}