{% extends 'master' %}
{% block content %}
    {% include 'components.navbar' %}

    <div class="container lg-margin-top">
        <div class="row" >
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Edit task</div>
                    <div class="panel-body">
                        <div class="bg-danger text-white text-xs-center m-1 p-1">
                            {% for error in old('errors') %}
                                {{ error.message }}
                            {% endfor %}
                        </div>
                        {{ form.open({action: 'TaskController.update', method: 'POST', class: 'form-horizontal'}) }}

                        {{ csrfField }}

                        <div class="form-group">
                            {{ form.hidden('id', task.id) }}
                        </div>

                        <div class="form-group">
                            {{ form.label('body', 'Leírás:',{ class:'col-md-4 control-label'}) }}
                            <div class="col-md-6">
                                {{ form.textarea('body', task.body,{ class:'form-control'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.label('names[]', 'Beosztottak:',{ class:'col-md-4 control-label'}) }}
                            <div class="col-md-6">
                                {{ form.select('names[]',everyUser, selectedUserIds, null,{multiple: true, class:'form-control'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                {{ form.button('Elküld', 'submit', { class:'btn btn-primary'}) }}
                            </div>
                        </div>


                        {{ form.close() }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}