{% extends 'master' %}

{% block content %}

    {% include 'components.navbar' %}

    <div class="container lg-margin-top">
        <div>
            <h1>Elvégzett teendők</h1>
        </div>

        <div class="sticky-note">
            <ul>
                {% if tasks[0] %}
                    {% for task in tasks %}
                        {% include 'components.task-card-completed' %}
                    {% endfor %}
                {% else %}
                    <div>Jelenleg nincs semmi teendőd!</div>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block footer %}
    <script type="text/javascript">
        var redoButtons = document.getElementsByClassName('button_redo_without_js');
        for (var i = 0; i < redoButtons.length; i++) {
            redoButtons[i].innerHTML =
                    '<button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModalRedo">' +
                    '<span class="glyphicon glyphicon-chevron-left"></span>' +
                    '</button>';
        }
    </script>
{% endblock %}

