{% extends 'master' %}

{% block content %}

    {% include 'components.navbar' %}

    <div class="container lg-margin-top">
        <div>
            <h1>Todo lista</h1>
            <a class="btn btn-default" href="/createCard" role="button">Új tennivaló</a>
        </div>

        {% if cards[0] %}
            {% for card in cards %}
                {% include 'components.todoCard' %}
            {% endfor %}

        {% else %}
            <div>Jelenleg nincs semmi teendőd!</div>

        {% endif %}

    </div>

{% endblock %}