{% extends 'master' %}

{% block content %}

    {% include 'components.navbar' %}

    <div class="container lg-margin-top">
        <div>
            <h1>Elvégzett teendők</h1>
        </div>

        {% if tasks[0] %}
            {% for task in tasks %}
                {% include 'components.task-card-completed' %}
            {% endfor %}

        {% else %}
            <div>Jelenleg nincs semmi teendőd!</div>

        {% endif %}

    </div>

{% endblock %}