{% extends 'master' %}

{% block content %}

    {#{% include 'components.navbar' %}#}

    <div class="container lg-task-top">
        <div>
            <h1>Todo lista</h1>
            <a class="btn btn-default" href="/create-task" id="create-task" role="button">Új tennivaló</a>
        </div>


        <div class="sticky-note">
            <ul>
                {% if tasks[0] %}
                    {% for task in tasks %}
                        {% include 'components.task-card' %}
                    {% endfor %}
                {% else %}
                    <div>Jelenleg nincs semmi teendőd!</div>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript">
        var deleteButtons = document.getElementsByClassName('delete_button_without_js');
        for (var i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].innerHTML =
                    '<button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#myModal">' +
                    '<span class="glyphicon glyphicon-trash"></span>' +
                    '</button>';
        }
    </script>

{% endblock %}