{% extends 'master' %}

{% block content %}

    {% include 'components.navbar' %}

    <div class="container lg-margin-top">
        <div>
            <h1>Todo lista</h1>
            <a class="btn btn-default" href="/create-task" role="button">Új tennivaló</a>
        </div>


        <div class="sticky-note">
            <ul>
                {% if tasks[0] %}
                    {% for task in tasks %}
                        <li>
                            <a href="#">
                                {% include 'components.task-card' %}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <div>Jelenleg nincs semmi teendőd!</div>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}